body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* heading */
.big-heading {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 4rem;
  line-height: 1.5;
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}
#title {
  background-color: #ff4c68;
  color: white;
  text-align: left;
}
.container-fluid {
  padding: 3% 15% 5% 15%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-family: "Montserrat-Light";
  font-size: 1.2rem;
}

/* title image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
.iphone {
  position: relative;
}
/* features */
#features {
  background-color: #fff;
  padding: 7% 3%;
  line-height: 2;
  position: relative;
  z-index: 2;
}
.highlights {
  font-size: 1.5rem;
}
.options {
  padding: 2px;
}

i:hover {
  color: #ff4c68;
}
i {
  color: #ef8172;
  margin-bottom: 1rem;
}

/* testimonial section */

#testimonials {
  background-color: #ef8172;
  color: #ffff;
}
.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px 20px;
}
.carousel-item {
  padding: 7% 3%;
}
/* pricing section */

#pricing {
  padding: 100px;
}
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}
.pricing-column {
  padding: 3% 2%;
}
/* media query */
@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }
  #title {
    text-align: center;
  }
}
/* call to action */
#cta {
  background-color: #ff4c68;
  padding: 10% 10%;
  color: #fff;
}
.true-love {
  padding-bottom: 5%;
}
.footer-apple {
  color: #fff;
}
.footer-play {
  color: #000;
}
.footer-icons {
  color: #000;
  padding: 5px;
}
